<!--include head.ejs-->
<%- include('fragments/head.ejs')%>

    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    </head>

    <body>

        <!--include navigation.ejs-->
        <%- include('fragments/navigation.ejs')%>


            <div class="container bootstrap snippet">
                <h1 class="text-primary"><span class="glyphicon glyphicon-user"></span>Create Profile</h1>
                <center>
                    <div class="error-massage">
                        <%= signupMessage[0].msg %>
                    </div>
                </center>


                <div class="row">


                    <div class="col-md-9 personal-info">

                        <form class="form-horizontal" action="/signup" method="POST" enctype="multipart/form-data" novalidate>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Full name:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" type="text" name="name" , placeholder="should not be empty">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" type="text" name="email" placeholder="email has to be valid email xxx@xx.com">
                                </div>

                            </div>


                            <div class="form-group">
                                <label class="col-lg-3 control-label">Password:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" type="password" name="password" placeholder="password must be more than 4 char">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Confirm Password:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" type="password" name="cpassword" , placeholder="should match the password>" </div>
                                </div>

                                <label class=" col-lg-4 control-label ">
                                <div class="form-group ">
                                    <button type="submit ">submit</button>
                                </div>
                            </label>

                        </form>

                        </div>

                    </div>
                </div>

                <!--include end.ejs-->
                <%- include('fragments/end.ejs')%>